<link rel="stylesheet" href="css/clientes.css">
<br><h1 align="center">Estilistas</h1><br>

<div align="center">
  <div class="container">
    <div class="row">
      <% @estilistas.each do |estilista| %>
      <div class="col-sm-4">
        <% if Person.find_by(id: Stylist.find_by(id: estilista.id).person_id).foto_perfil_file_name %>
        <div><a target="_blank"><img class="estilista" src="<%= Person.find_by(id: Stylist.find_by(id: estilista.id).person_id).foto_perfil %>"></a></div>
        <% end %>
        <br>
        <b>Nombre:</b>
        <%= Person.find_by(id: Stylist.find_by(id: estilista.id).person_id).nombre%>
        <br>
        <br>
        <b>Edad:</b>
        <%= (Time.now.year  - (Person.find_by(id: Stylist.find_by(id: estilista.id).person_id).fecha_nacimiento).year)
        %>
        <br>
        <br>
        <b>Teléfono fijo:</b>
        <%= Person.find_by(id: Stylist.find_by(id: estilista.id).person_id).telefono_fijo%>
        <br>
        <br>
        <b>Trabaja en:</b>
        <%= Ubication.find_by(id: Person.find_by(id: Stylist.find_by(id: estilista.id).person_id).ubication_id).barrio%>
        <br>
        <br>
        <b>Calificación:</b>
        ★★★★★
        <br>
        <br>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cortes<%=estilista.id %>">Cortes</button>
        <br>
        <br>
        <br>
        <br>
      </div>
      <% end %>
    </div>
  </div>
</div>




<div class="container text-center">
<% @estilistasm.each do |estilista| %>
  <div class="modal fade" id="cortes<%=estilista.id %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 align="left" class="modal-title">Cortes</h4>
        </div>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
             <img class="img-responsive" src="<%= Haircut.find_by(id: HaircutStylist.find_by(stylist_id: estilista.id).haircut_id).foto%>" alt="...">
             <div class="carousel-caption">
              Corte 1
            </div>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
  </div>
</div>
<% end %>
</div>

<!-- Modal Opinión-->
<div class="modal fade" id="opinion" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Opiniones</h4>
      </div>
      <div class="modal-body">
        <div align="center">
          <div class="contenido">
            <div class="form-group row">
              <label for="nombre" style="text-align:left;">Simona Restrepo dice:</label>
              <label for="nombre" style="text-align:left;">Excelente estilista</label>
            </div>
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>

    </div>
  </div>
</div>