<link rel="stylesheet" type="text/css" href="../css/welcome/contact.css">
<link rel="stylesheet" type="text/css" href="../css/buttons.css"/>
<br>
<h1 align="center">Perfil</h1>
<div align="center"><img src="images/perfilc.jpg" width="150" height="145"></div>
<%= form_tag '/perfil/editar', class: 'form-style-9' do %>
<ul>
<li>
    <input type="text" name="nombre" class="field-style field-split align-left" placeholder="Nombre" value="<%= @nombre%>" require/>
    <input type="text" name="apellido" class="field-style field-split align-right" placeholder="Apellido" value="<%= @apellido%>" require />

</li>
<li>
    <input type="text" name="nacimiento" class="field-style field-split align-left" placeholder="Fecha de nacimiento" value="<%= @fecha_nacimiento%>" />
    <input type="text" name="fijo" class="field-style field-split align-right" placeholder="Teléfono fijo" value="<%= @telefono_fijo%>" require />
</li>
<li>
    <input type="text" name="movil" class="field-style field-split align-left" placeholder="Teléfono móvil" value="<%= @telefono_movil%>" require/>
    <input type="text" name="tipo" class="field-style field-split align-right" placeholder="Tipo de discapacidad" value="<%= @tipo_discapacidad%>" require />
</li>
<li>
    <input type="text" name="direccion" class="field-style field-split align-left" placeholder="Dirección" value="<%= @direccion%>" require />
    <input type="text" name="barrio" class="field-style field-split align-right" placeholder="Barrio" value="<%= @barrio%>" require />
</li>
<li>
<br>
<div align="center"><input type="submit" value="Editar" class="myButton"/></div>
</li>
</ul>
<% end %>
