<link rel="stylesheet" type="text/css" href="../css/welcome/contact.css">
<link rel="stylesheet" type="text/css" href="../css/buttons.css"/>
<br>
<h1 align="center">Perfil</h1>
<div align="center"><img src="images/perfilc.jpg" width="150" height="145"></div>
<%= form_tag '/perfil/editar', class: 'form-style-9' do %>
<ul>
<li>
    <input type="text" name="nombre" class="field-style field-split align-left" placeholder="Nombre" value="<%= @nombre%>" require/>
    <input type="text" name="apellido" class="field-style field-split align-right" placeholder="Apellido" value="<%= @apellido%>" require />


<!--body>

	<section id="container">
		<h2>Perfil</h2>
		<form name="hongkiat" id="hongkiat-form" method="post" action="#">
			<div id="wrapping" class="clearfix" align="center">
				<section id="aligned">
					<input type="text" name="name" id="name" placeholder="Nombre" autocomplete="off" tabindex="1" class="txtinput">

					<input type="text" name="name" id="name" placeholder="Apellidos" autocomplete="off" tabindex="1" class="txtinput">

					<input type="text" name="name" id="name" placeholder="Tipo discapacidad" autocomplete="off" tabindex="1" class="txtinput">

					<input type="text" name="name" id="name" placeholder="Dirección residencia" autocomplete="off" tabindex="1" class="txtinput">
				</section>
				<br>
				<br>
				<br>
				<section id="buttons">
					<input type="button" onclick="myAlert()" id="perfilbtn" value="Actualizar datos">
					<br style="clear:both;">
				</section>
			</form>
		</section>
		<script>
			function myAlert() {
				swal("Bien", "Haz actualizado tus datos", "success");
			}
		</script>

	</body>
	</html-->
</li>
<li>
    <input type="text" name="nacimiento" class="field-style field-split align-left" placeholder="Fecha de nacimiento" value="<%= @fecha_nacimiento%>" />
    <input type="text" name="fijo" class="field-style field-split align-right" placeholder="Teléfono fijo" value="<%= @telefono_fijo%>" require />
</li>
<li>
    <input type="text" name="movil" class="field-style field-split align-left" placeholder="Teléfono móvil" value="<%= @telefono_movil%>" require/>
    <input type="text" name="tipo" class="field-style field-split align-right" placeholder="Tipo de discapacidad" value="<%= @tipo_discapacidad%>" require />
</li>
<li>
    <input type="text" name="direccion" class="field-style field-split align-left" placeholder="Dirección" value="<%= @direccion%>" require />
    <input type="text" name="barrio" class="field-style field-split align-right" placeholder="Barrio" value="<%= @barrio%>" require />
</li>
<li>
<br>
<div align="center"><input type="submit" value="Editar" class="myButton"/></div>
</li>
</ul>
<% end %>
