<link rel="stylesheet" type="text/css" href="css/estilistas.css">
<br>
<h1 align="center">Citas</h1><br>
<div align="center">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Cliente</th>
        <th>Teléfono fijo</th>
        <th>Teléfono móvil</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Dirección</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      
      <% @citasp.each do |cita| %>
      <%= form_tag '/confirmarcita' do %>
      <tr>
        <th scope="row"><%= Person.find_by(id: (Customer.find_by(id: cita.customer_id).person_id)).nombre%> 
        <%= Person.find_by(id: (Customer.find_by(id: cita.customer_id).person_id)).apellido%></th>
        <td><%= Person.find_by(id: (Customer.find_by(id: cita.customer_id).person_id)).telefono_fijo%></td>
        <td><%= Person.find_by(id: (Customer.find_by(id: cita.customer_id).person_id)).telefono_movil%></td>
        <td><%= cita.fecha%></td>
        <td><%= cita.hora_inicio%></td>
        <td><%= Ubication.find_by(id: (Person.find_by(id: (Customer.find_by(id: cita.customer_id).person_id)).ubication_id)).direccion%></td>
        <td> <button name="confirmar" value="1" type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span></button></td>
        <td> <button name="cancelar" value="2" type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button></td>
        <input type="hidden" name="id"  value="<%= cita.id%>">
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table><br>

</div>