<link rel="stylesheet" type="text/css" href="css/estilistas.css">
<br><h1 align="center">Cortes</h1><br>


<div align="center">
  <div class="container">
    <div class="row">
      <% @cortes.each do |corte| %>
      
      <div class="col-sm-4">

        <div><a target="_blank"><img class="imagen1" src="<%= corte.foto %>"></a></div>
        <br>
        <b>Nombre:</b>  <%=  corte.nombre_corte %>
        <br>
        <b>Descripci칩n:</b> <%= (corte.descripcion).slice(0,15) + "..." %>
        <br>
        <br>
        <%= form_tag '/vercorte' do%>
        <input type="hidden" name="id"  value="<%= corte.id%>">
        <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#leerMas">Leer m치s</button><br><br>
        <% end %>

      </div>
      <% end %>

    </div>
  </div>
</div>




<br><div style="padding-left: 44%;" class="boton">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarCorte">Agregar corte</button></div>

<!-- Modal Leer m치s -->

<div class="modal fade" id="leerMas" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Corte</h4>
      </div>
      <div class="modal-body">
       <div><a target="_blank"><img class="imagen1" src="<%= @foto%>"></a></div>
       <br>
       <b>Nombre:  </b>  <%= @nombre  %>
       
       <br>
       <b>Descripci칩n:</b> <%= @descripcion%>
       
       <br>
       <br>
     </div>
     <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
    </div>
  </div>
</div>
</div>



<!-- Modal Agregar corte -->
<div class="modal fade" id="agregarCorte" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Agregar corte</h4>
      </div>
      
      <%= render "cut" %>
      
    </div>
  </div>
</div>
